<?xml version="1.0"?>
<configuration>
  <configSections/>
  <appSettings/>
  <connectionStrings>
    <add name="HomeownersRO" connectionString="Data Source=pit-sqld01.e-ins.net;Initial Catalog=ASI1;Persist Security Info=True;Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="true" explicit="true" targetFramework="4.7.2"/>
  </system.web>
</configuration>