<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="HomeownersRO" connectionString="Data Source=pit-sqld01.e-ins.net;Initial Catalog=ASI1;Application Name=WSGeographic Underwriter;Persist Security Info=True;Integrated Security=true" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>