<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <clear />

    <!-- cloud private repo -->
    <add key="PropertyIT Cloud nuget" value="https://pkgs.dev.azure.com/Property-IT/_packaging/PropertyITPackages/nuget/v3/index.json" />
    <!-- standard Nuget Gallery -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>